

<div class="" *ngIf="loaddetails">
<div class="container-fluid p-0 m-0">
  <div class="text-center">
    <button class=" float-right btn bleu">Retour</button>
  </div>
</div>
<br>
<br>
<div class="jumbotron jumbotron-fluid jaune">

    <div class="form-inline">
        <div class="form-group">
          <label for="id2">ID médecin: </label>{{mpartenaire.id}}
        </div>
        <div class="form-group">
          <label for="nom2">Nom :</label> {{mpartenaire.nom}}

        </div>
        <div class="form-group">
          <label for="nom2">Statut :</label>{{mpartenaire.telephone}}

        </div>


    </div>



</div>
<div class="card2">
  <div class="header_perso bleu">
    <p class="txtcolorwhite" >Détails</p>
  </div>
  <div class="card-body jaune">
    <div class="row"><label>Téléphone : 77 000 00 00</label></div>
    <div class="row"><label>Email : drc@nest.sn</label></div>
    <div class="row"><label>Date de naissance :01/01/1978</label></div>

  </div>
</div>
<div class="card2">
  <div class="header_perso bleu">
    <p class="txtcolorwhite">Conventions garants</p>
  </div>
  <div class="card-body jaune">
    <div class="row"> <label>Assurance : Accepté partiellement</label></div>
    <div class="row"><label>IPM : tout refusé</label></div>
  </div>

</div>

<div class="card2">
  <div class="header_perso bleu">
    <p class="txtcolorwhite" style="font-weight: bold;">Tarifs</p>
  </div>
  <div class="card-body jaune">
    <label>Tarif de consultation : 25.000 FCFA</label>
    <button type="button" class="btn btn-vert float-right" (click)="ConventionDetails()">Voir les conventions </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col text-center">
    <button type="button" class="btn btn-vert">Voir les planning de consultation </button>
</div>
</div>
</div>
<div class="" *ngIf="conventions">
  <conventions></conventions>
</div>
