<div class="container-fluid p-0 m-0">
  <div class="text-center">
    <a href="/medecin" type="button" class=" float-right btn bleu">Retour</a>
  </div>
</div>

<div class="" *ngIf="loaddetails">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
       <div class="iq-header-title">
          <h4 class="card-title">Critère de recherche</h4>
       </div>
    </div>
    <div class="iq-card-body">

          <div class="form-row">
             <div class="col">
              <h5 class="card-title"><label><b>ID:</b></label> MED001</h5>

             </div>
             <div class="col">
              <div class="form-group">
                <h5 class="card-title"><label><b>NOM:</b></label> Docteur A</h5>
             </div>
              <!-- <select id="statut" class="form-control mb-3">
                <option value=""></option>
                <option value="1">Interne</option>
                <option value="2">Externe</option>
              </select> -->
             </div>

             <div class="col">
                <div class="form-group">
                  <h5  class="card-title"><label><b>STATUT:</b></label> Interne</h5>
              </div>
             </div>

          </div>

    </div>
  </div>
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
       <div class="iq-header-title">
          <h4 class="card-title">Voir détails médécin partenaire</h4>
       </div>
    </div>
    <div class="iq-card-body">

       <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
          <li class="nav-item">
             <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">Détails</a>
          </li>

          <li class="nav-item">
             <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Tarifs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-convention-tab-fill" data-toggle="pill" href="#pills-convention-fill" role="tab" aria-controls="pills-convention" aria-selected="false">Conventions</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" id="pills-planning-tab-fill" data-toggle="pill" href="#pills-planning-fill" role="tab" aria-controls="pills-convention" aria-selected="false">Planning</a>
       </li>
       </ul>
       <div class="tab-content" id="pills-tabContent-1">
          <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
            <br><br>
            <div class="form-row">
              <div class="col text-center"> <h5 class="card-title"><label><b>Téléphone:</b></label> 77 000 00 00</h5></div>
              <div class="col text-center"><h5 class="card-title"><label><b>Email:</b></label>  drc@nest.sn</h5></div>
              <div class="col text-center"><h5 class="card-title"><label><b>Date de naissance:</b></label> 01/01/1978</h5></div>
            </div>

          </div>

          <div class="tab-pane fade" id="pills-contact-fill" role="tabpanel" aria-labelledby="pills-contact-tab-fill">

            <br>
            <br>
            <div class="form-row">
              <div class="col text-center"> <h5 class="card-title"><label><b>Tarif de consultation:</b></label> 25.000 FCFA</h5></div>

            </div>
          </div>
          <div class="tab-pane fade" id="pills-convention-fill" role="tabpanel" aria-labelledby="pills-convention-tab-fill">

            <div class="row">
              <div class="col-sm-12">
                 <div class="iq-card bg-primary text-white">

                    <div class="iq-card-body">
                       <div id="table" class="table-editable">
                          <span class="table-add float-right mb-3 mr-2">

                          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bd-ajouter-medecin-modal-xl"><i
                            class="ri-add-fill"><span class="pl-1">Ajouter une convention</span></i>
                         </button>
                          </span>
                          <table class="table table-bordered table-responsive-md table-striped text-white">
                             <thead>
                                <tr class="text-center ">
                                  <th>Garant</th>
                                  <th>Structure</th>
                                  <th>Depuis le</th>
                                  <th>Statut</th>

                                </tr>
                             </thead>
                             <tbody>
                              <tr *ngFor="let convention of conventionlist; let i = index;">

                                <td>{{convention.garant}}</td>
                                <td>{{convention.structure}}</td>
                                <td>{{convention.date_debut}}</td>
                                <td>{{convention.statut}}</td>

                              </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>

          </div>
          <div class="tab-pane fade" id="pills-planning-fill" role="tabpanel" aria-labelledby="pills-planning-tab-fill">
            <div class="row">
              <div class="col-sm-12">
                 <div class="iq-card bg-primary text-white">

                    <div class="iq-card-body">
                       <div id="table" class="table-editable">
                          <span class="table-add float-right mb-3 mr-2">
                          <!-- <button class="btn btn-sm iq-bg-success"><i
                             class="ri-add-fill"><span class="pl-1">Add New</span></i>
                          </button> -->
                          </span>
                          <table class="table table-bordered table-responsive-md table-striped text-white">
                             <thead>
                                <tr class="text-center ">
                                  <th></th>
                                  <th>Matin</th>
                                  <th>Après midi</th>

                                </tr>
                             </thead>
                             <tbody>
                              <tr>
                                <td>Lundi</td>
                                <td>Pas de consultation</td>
                                <td>Consultation</td>
                              </tr>
                              <tr>
                                <td>Mardi</td>
                                <td>Pas de consultation</td>
                                <td>Pas de consultation</td>
                              </tr>
                              <tr>
                                <td>Mercredi</td>
                                <td>Pas de consultation</td>
                                <td>Pas de consultation</td>
                              </tr>
                              <tr>
                                <td>Jeudi</td>
                                <td>Pas de consultation</td>
                                <td>Pas de consultation</td>
                              </tr>
                              <tr>
                                <td>Vendredi</td>
                                <td>Pas de consultation</td>
                                <td>Consulation</td>
                              </tr>
                              <tr>
                                <td>Samedi</td>
                                <td>Pas de consultation</td>
                                <td>Pas de consultation</td>
                              </tr>
                              <tr>
                                <td>Dimanche</td>
                                <td>Pas de consultation</td>
                                <td>Pas de consultation</td>
                              </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
          </div>
       </div>
    </div>
 </div>
<div class="container-fluid p-0 m-0">
  <div class="text-center">
    <button class=" float-right btn bleu">Retour</button>
  </div>
</div>

<div class="" *ngIf="conventions">
  <conventions></conventions>
</div>

<div class="modal fade bd-ajouter-medecin-modal-xl" tabindex="-1" role="dialog"   aria-hidden="true">
  <div class="modal-dialog modal-xl">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">Ajouter une convention</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <!-- <form> -->

              <div class="form-row">
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option selected="" disabled="">Choisir une structure</option>
                    <option>Assurance</option>
                    <option>IPM</option>
                 </select>
                </div>

             </div>
             <br><br>
             <table class="table table-bordered table-responsive-md">
              <thead>
                 <tr class="text-center ">
                   <th><input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Tout selectionner</label></th>
                   <th>Libelle</th>

                 </tr>
              </thead>
              <tbody>
               <tr>
                 <td align="center"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                 <td>AXA assurance</td>
               </tr>
               <tr>
                <td align="center"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td>Ascoma</td>
               </tr>
               <tr>
                <td align="center"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td>Allianz</td>
               </tr>
               <tr>
                <td align="center"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td>IPMX</td>
               </tr>
               <tr>
                <td align="center"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td>IPM Y</td>
               </tr>
              </tbody>
           </table>



            <!-- </form> -->
         </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
           <button type="button" class="btn btn-primary">Ajouter</button>
        </div>
     </div>
  </div>
</div>


