<div class="col-sm-12">
  <div class="iq-card">
     <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
              <h4 class="card-title">Liste des factures </h4>
          </div>
     </div>
      <div class="iq-card-body">
          <div id="table" class="table-editable">
            <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
              <li class="nav-item">
                 <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">Factures patients</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="pills-convention-tab-fill" data-toggle="pill" href="#pills-convention-fill" role="tab" aria-controls="pills-convention" aria-selected="false">Factures garants</a>
             </li>
            </ul>
            <div class="tab-content" id="pills-tabContent-1">
              <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
                <span class="table-add float-right mb-3 mr-3">
                  <button class="btn btn-lg btn-primary" data-toggle="modal" data-target=".confirmation-paiement">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Encaisser
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </button>
                  </span>
                  <app-invoice-search></app-invoice-search>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                      <tr>
                          <th><input type="checkbox"  name="list_name" value="m1"/> <strong>Tous</strong></th>
                          <th>ID</th>
                          <th>ID Prest.</th>
                          <th>Date</th>
                          <th>Patient</th>
                          <th>Type Prest.</th>
                          <th>Montant facturé</th>
                          <th>Montant payé</th>
                          <th>Montant Restant</th>
                      </tr>
                  </thead>
                  <tbody>
                     <tr>
                       <input type="checkbox" id="001" name="selected1">
                        <td>FAC001</td>
                        <td>002</td>
                        <td>28/11/2019</td>
                        <td>Fatou Ndiaye</td>
                        <td>Consultation</td>
                        <td>14.100 FCFA</td>
                        <td></td>
                        <td></td>
                     </tr>
                     <tr>
                      <td><input type="checkbox" id="002" name="selected2"></td>
                      <td>FAC0012</td>
                      <td>0005</td>
                      <td>08/01/2020</td>
                      <td>Matar DIOP</td>
                      <td>Analyse</td>
                      <td>4.100 FCFA</td>
                      <td>3.000 FCFA</td>
                      <td>1.100 FCFA</td>
                   </tr>
                   <tr>
                    <td><input type="checkbox" id="003" name="selected3"></td>
                    <td>FAC0022</td>
                    <td>0009</td>
                    <td>08/01/2020</td>
                    <td>Rokhaya Cissé</td>
                    <td>Hospitalisation</td>
                    <td>4.100 FCFA</td>
                    <td></td>
                    <td></td>
                 </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="pills-convention-fill" role="tabpanel" aria-labelledby="pills-convention-tab-fill">
                <app-invoice-search></app-invoice-search>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>Date</th>
                          <th>Patient</th>
                          <th>Garant</th>
                          <th>Caution</th>
                          <th>Prestation</th>
                          <th>Montant facturé</th>
                          <th>Statut facture</th>
                          <th>Montant payé</th>
                          <th>Lettre de garantie</th>
                          <th>Date reception</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                     <tr>
                       <input type="checkbox" id="001" name="selected1">
                        <td>FAC001</td>
                        <td>28/11/2019</td>
                        <td>Fatou Ndiaye</td>
                        <td>PATISEN</td>
                        <td></td>
                        <td>Analyses</td>
                        <td>14 100</td>
                        <td>Non facturé</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                          <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                             Action
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-toggle="modal"  data-target=".lettre-garant">Lettre de garantie</a>
                            <a class="dropdown-item" href="#"  data-toggle="modal" data-target=".caution">Caution</a>
                          </div>
                        </div>
                      </td>
                     </tr>
                     <tr>
                      <td><input type="checkbox" id="002" name="selected2"></td>
                      <td>FAC0012</td>
                      <td>08/01/2020</td>
                      <td>Matar DIOP</td>
                      <td>ASCOMA</td>
                      <td></td>
                      <td>Consultation</td>
                      <td>4100</td>
                      <td>Non facturé</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td> <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                           Action
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#" data-toggle="modal"  data-target=".lettre-garant">Lettre de garantie</a>
                          <a class="dropdown-item" href="#"  data-toggle="modal" data-target=".caution">Caution</a>
                        </div>
                      </div></td>
                   </tr>
                   <tr>
                    <td><input type="checkbox" id="003" name="selected3"></td>
                    <td>FAC0022</td>
                    <td>08/01/2020</td>
                    <td>Rokhaya Cissé</td>
                    <td>ASCOMA</td>
                    <td></td>
                    <td>Hospitalisation</td>
                    <td>4100</td>
                    <td>Non facturé</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                           Action
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#" data-toggle="modal"  data-target=".lettre-garant">Lettre de garantie</a>
                          <a class="dropdown-item" href="#"  data-toggle="modal" data-target=".caution">Caution</a>
                        </div>
                      </div>
                    </td>
                 </tr>
                  </tbody>
                </table>
                <br>
                <div class="container">
                  <div class="row">
                    <div class="col text-center">
                      <span class="table-add  mb-3 mr-2">
                        <button class="btn btn-sm btn-primary" data-toggle="modal"  data-target=".bd-example-modal-lg">

                                <span class="pl-1">
                                    Créer un réléve de factures
                                </span>

                        </button>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
      </div>
  </div>
</div>
<div class="modal fade confirmation-paiement" tabindex="-1" role="dialog"  aria-hidden="true" id="confirmer">
  <!-- <form [formGroup]="addForm" (ngSubmit)="onSubmit()"> -->
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Encaissement facture</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12 col-sm-12 tableSection">

              <table class="table text-center">
                <thead>
                  <tr class="tableHead">
                    <th>ID</th>
                    <th>Date</th>
                    <th>Patient</th>
                    <th>Type Prest.</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>FAC001</td>
                    <td>28/11/2019</td>
                    <td>Fatou Ndiaye</td>
                    <td>Consultation</td>
                    <td>14.100 FCFA</td>
                  </tr>



                </tbody>
            </table>
          </div>
            <!-- <h4 class="card-title">Paiement:<b></b></h4>
            <b><h4 class="card-title">Montant = 100 800 FCFA</h4></b>
            <div class="form-row">


                 <h4> Mode de paiement : </h4>
                  <select class="form-control" style="width: 300px;">
                    <option value="0"> Choisir le mode de paiement</option>
                    <option value="1"> Espece</option>
                    <option value="2"> Chèque</option>
                    <option value="3"> Orange money</option>
                    <option value="3"> Virement</option>

                  </select>


              <div class="col">
              </div> -->
           <!-- </div>
           <br>
           <div class="form-row">

              <h4> Caisse : </h4>
                <select class="form-control" style="width: 300px;">
                  <option value="0"> Choisir la caisse</option>
                  <option value="1"> CAISSE A</option>
                  <option value="2"> CAISSE B</option>
                  <option value="3"> CAISSE C</option>

                </select>

         </div>
         <div class="form-row">

          <h4> Banque : </h4>
            <select class="form-control" style="width: 300px;">
              <option value="0"> Choisir la banque</option>
              <option value="1"> CBAO</option>
              <option value="2"> SGBS</option>
              <option value="3"> ECOBANK</option>

            </select>

         </div> -->
         <div class="col-md-12 col-sm-12 lastSectionleft ">
          <div class="row">

              <div class="col-md-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body lastPanel">
                        PAIEMENT
                    </div>
                    <div class="panel-footer lastFooter">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-6 panelLastLeft">
                              <p>Montant</p>
                              <p>Mode de paiement</p>
                              <p>Caisse</p>
                              <p>Banque</p>
                              <p>Montant encaissé</p>
                              <p>Montant restant</p>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-6 panelLastRight">
                              <p><b>14.100 FCFA</b></p>
                              <p> <select class="form-select form-select-sm">
                                <option value="0"> Choisir le mode de paiement</option>
                                <option value="1"> Espece</option>
                                <option value="2"> Chèque</option>
                                <option value="3"> Orange money</option>
                                <option value="3"> Virement</option>

                              </select></p>
                              <p>
                                <select class="form-select form-select-sm">
                                  <option value="0"> Choisir la caisse</option>
                                  <option value="1"> CAISSE A</option>
                                  <option value="2"> CAISSE B</option>
                                  <option value="3"> CAISSE C</option>

                                </select>
                              </p>
                              <p> <select class="form-select form-select-sm">
                                <option value="0"> Choisir la banque</option>
                                <option value="1"> CBAO</option>
                                <option value="2"> SGBS</option>
                                <option value="3"> ECOBANK</option>

                              </select></p>
                              <p><input class="form-control form-control-sm" type="text"></p>
                              <p><input class="form-control form-control-sm" type="text" readonly></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          </div>
          </div>
          <div class="modal-footer">
             <button  class="btn btn-secondary" data-dismiss="modal">Non</button>
             <button  class="btn btn-primary" data-toggle="modal">Oui</button>
          </div>
       </div>
    </div>
  <!-- </form> -->
</div>

<div class="modal fade lettre-garant" tabindex="-1" role="dialog"  aria-hidden="true" id="confirmer">
  <!-- <form [formGroup]="addForm" (ngSubmit)="onSubmit()"> -->
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Enregistrer lettre garant</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12 col-sm-12 lastSectionleft ">
              <div class="row">

                  <div class="col-md-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body lastPanel">
                            LETTRE GARANT
                        </div>
                        <div class="panel-footer lastFooter">
                            <div class="row">
                                <div class="col-md-5 col-sm-6 col-xs-6 panelLastLeft">
                                  <p>Lettre garant</p>
                                  <p>Caisse</p>
                                  <p>Date reception</p>
                                  <p>Caution</p>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-6 panelLastRight">
                                  <p> <select class="form-select form-select-sm">
                                    <option value="0"> NON</option>
                                    <option value="1"> OUI</option>
                                  </select></p>
                                  <p>
                                    <select class="form-select form-select-sm">
                                      <option value="0"> Choisir la caisse</option>
                                      <option value="1"> CAISSE A</option>
                                      <option value="2"> CAISSE B</option>
                                      <option value="3"> CAISSE C</option>

                                    </select>
                                  </p>

                                  <p><input class="form-control form-control-sm" type="date"></p>
                                  <p><input class="form-control form-control-sm" type="text" value="4.100 FCFA" readonly></p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="modal fade caution" tabindex="-1" role="dialog"  aria-hidden="true" id="confirmer">
  <!-- <form [formGroup]="addForm" (ngSubmit)="onSubmit()"> -->
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Enregistrer caution</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12 col-sm-12 lastSectionleft ">
              <div class="row">

                  <div class="col-md-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body lastPanel">
                           CAUTION
                        </div>
                        <div class="panel-footer lastFooter">
                            <div class="row">
                                <div class="col-md-5 col-sm-6 col-xs-6 panelLastLeft">
                                  <p>MODE</p>
                                  <p>Caisse</p>
                                  <p>Date</p>
                                  <p>Caution</p>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-6 panelLastRight">
                                  <p> <select class="form-select form-select-sm">
                                    <option value="0"> Encaissé</option>
                                    <option value="1"> Décaissé</option>
                                  </select></p>
                                  <p>
                                    <select class="form-select form-select-sm">
                                      <option value="0"> Choisir la caisse</option>
                                      <option value="1"> CAISSE A</option>
                                      <option value="2"> CAISSE B</option>
                                      <option value="3"> CAISSE C</option>
                                    </select>
                                  </p>

                                  <p><input class="form-control form-control-sm" type="date"></p>
                                  <p><input class="form-control form-control-sm" type="text" value="4.100 FCFA"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

