<div class="col-sm-12">
  <div class="iq-card">
     <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
              <h4 class="card-title">Caisse</h4>
          </div>
     </div>
      <div class="iq-card-body">
        <div class="form-row">
          <div class="col">
            <h5>
                <label>
                    <b>Montant encaissé: 91 780 FCFA</b>
                </label>
            </h5>
          </div>
          <div class="col">
            <h5>
                <label>
                    <b>Montant décaissé: 53 280 FCFA </b>
                </label>
            </h5>
          </div>
          <div class="col">
            <h5>
                <label>
                    <b>Montant:  38 500 FCFA</b>
                </label>
            </h5>
          </div>

        </div>
      </div>
  </div>
</div>
