<div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
       <div class="iq-header-title">
          <h4 class="card-title">Formulaire de recherche</h4>
       </div>
    </div>
    <div class="iq-card-body">
       <form novalidate
       [formGroup]="paiementSearchForm">
          <div class="form-row">
             <div class="col">
              <label for="date-input-start" class="col-form-label">Patient</label>
              <input type="text" class="form-control" formControlName="IdPrest" placeholder="">
             </div>
             <div class="col">
              <label for="date-input-start" class="col-form-label">Id prestation</label>
              <input type="text" class="form-control" formControlName="Patient" placeholder="Patient">
             </div>
             <div class="col">
              <label for="date-input-start" class="col-form-label">Medecin principal</label>
              <select class="form-control" formControlName="SelMed" id="ListeMedecinSearch">
                 <option selected="" disabled="">Medecin principal</option>
                 <option>Docteur A</option>
                 <option>Docteur B</option>
                 <option>Docteur C</option>
                 <option>Docteur D</option>
               </select>
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="col">
                <label for="date-input-start" class="col-form-label">Date de prestation du  </label>
                  <input class="form-control" formControlName="DateStart" type="date" value="2020-08-19" id="date-input-start">
            </div>
            <div class="col">
                <label for="date-input" class="col-form-label">Au  </label>
                  <input class="form-control" formControlName="DateEnd" type="date" value="2020-08-20" id="date-input-end">
            </div>
            <div class="col">
              <label for="date-input-start" class="col-form-label">Type de prestation</label>
              <select mutiple="multiple" class="form-control" formControlName="TypePrest" id="TypePrestationSearch">
                 <option selected="" disabled="">Type de prestation</option>
                 <option value="Consultation" >Consultation</option>
                 <option value="Imagerie">Imagerie</option>
                 <option value="Analyses">Analyses</option>
                 <option value="Soins">Soins</option>
              </select>
            </div>
         </div>
          <br>
         <div class="form-row">
          <div class="col">
            <label for="date-input-start" class="col-form-label">Site</label>
            <select class="form-control" formControlName="SelMed" id="ListeMedecinSearch">
               <option selected="" disabled="">Medecin principal</option>
               <option>Site A</option>
               <option>Site B</option>
               <option>Site C</option>
               <option>Site D</option>
             </select>
          </div>
          <div class="col">
            <label for="date-input-start" class="col-form-label">Assurance</label>
            <select mutiple="multiple" class="form-control" formControlName="TypePrest" id="TypePrestationSearch">
               <option selected="" disabled="">Choisir une assurance</option>
               <option value="Consultation" >Axa</option>
               <option value="Imagerie">NSIA</option>
            </select>
          </div>

       </div>
       <br>
       <div class="form-row">
        <button  class="btn btn-primary btn-lg" (click)="recherche()">  Rechercher  </button>
       </div>
       </form>
    </div>
  </div>
