<!-- <header
    class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
  >
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"
      >Company name</a>


    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" routerLink="/profile">{{user?.first_name}} {{user?.last_name}}</a>
        <a class="p-2 text-white" href="javascript:void(0)" (click)="logout()">Sign out</a>

    </nav>
  </header> -->
  <nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="iq-menu">
      <li routerLinkActive=""
      *ngIf="readLocalStorageValue('module_patient_prenatal')=='1'"
      routerLinkActiveOptions="{ exact: true }">
        <a
          routerLink="/prenatalsgrossesse"
          class="iq-waves-effect"
          ><i class="ri-hospital-fill"></i
          ><span>Patient-Prénatal</span></a
        >
      </li>
      <!-- <li routerLinkActive="" *ngIf="readLocalStorageValue('module_medecin_partenaire')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/medecin"
          class="iq-waves-effect"
          ><i class="ri-hospital-fill"></i
          ><span>Médecins partenaires</span></a
        >
      </li>
    <li routerLinkActive="" *ngIf="readLocalStorageValue('module_chambre')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="" class="iq-waves-effect"
          ><i class="ri-home-8-fill"></i
          ><span>Planning des salles </span></a
        >
      </li>
      <li>
             <a href="dashboard-2.html" class="iq-waves-effect"><i class="ri-briefcase-4-fill"></i><span>Honoraires</span></a>
          </li> -->
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_patient')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/patients"
          routerLinkActive="active"
          class="iq-waves-effect"
          ><i class="ri-briefcase-4-fill"></i><span>Patients</span></a
        >
      </li>
  <!--     <li routerLinkActive="" *ngIf="readLocalStorageValue('module_ambulatoire')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/ambulatoires" class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i
          ><span>Prestations ambulatoires</span></a
        >
      </li>

      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_ambulatoire')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/hospitalisations"
          class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i><span>Hospitalisations</span></a
        >
      </li>
     <li routerLinkActive="" *ngIf="readLocalStorageValue('module_role')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/roles"
          class="iq-waves-effect"
          ><i class="ri-file-user-line"></i><span>Roles</span></a
        >
      </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_module')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/modules"
          class="iq-waves-effect"
          ><i class="ri-more-fill"></i><span>Modules</span></a
        >
      </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_privilege')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/privileges"
          class="iq-waves-effect"
          ><i class="ri-account-box-line"></i><span>privilèges</span></a
        >
      </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_honoraire')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/honoraires"
          class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i><span>Honoraires</span></a
        >
      </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_facture')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/factures"
          class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i><span>Factures</span></a
        >
        <li routerLinkActive="" *ngIf="readLocalStorageValue('module_etat_encaissement')=='1'"
        [routerLinkActiveOptions]="{ exact: true }">
          <a
            routerLink="/etatEncaissement"
            class="iq-waves-effect"
            ><i class="ri-bank-card-line"></i><span>Etat encaissement</span></a
          >
      </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_etat_bancaire')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/etatBancaire"
          class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i><span>Etat Bancaire</span></a
        >
    </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_releve_facture')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/releves"
          class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i><span>Relevés de factures</span></a
        >
      </li>
      <li routerLinkActive="" *ngIf="readLocalStorageValue('module_historique_versement')=='1'"
      [routerLinkActiveOptions]="{ exact: true }">
        <a
          routerLink="/histoversement"
          class="iq-waves-effect"
          ><i class="ri-bank-card-line"></i><span>Historique des versements</span></a
        >
      </li> -->

    </ul>
  </nav>
