<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/logo.png"alt="Nest">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">NEST MANAGEMENT</h2>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>GESTION DU PERSONEL
    </a>
    <a mat-list-item routerLink="subscriptiondetails" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>INFO COMPTE
    </a>
    <a mat-list-item routerLink="statistics" routerLinkActive="list-item-active">
        <mat-icon>assessment</mat-icon>STATISTICS
    </a>
    <a mat-list-item routerLink="parameters" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>PARAMETRES
    </a>
    <a mat-list-item routerLink="notifications" routerLinkActive="list-item-active">
        <mat-icon matBadge="5" matBadgeColor="warn">chat</mat-icon>Notifications
    </a>
    <a mat-list-item>       
        <mat-icon>edit</mat-icon>Taches
    </a>
</mat-nav-list>
