
.vertical{
    display: flex;
    flex-direction: column;
  }
.etape{
      justify-content: center;
      align-items: center;
      align-self: center;
  }
::ng-deep .dialogSize{
  padding: 1rem 1rem;
  height: 700px;
  width: 600px;
  border-radius: 10px;
}
::ng-deep p.header{
  margin-top: 10px;
  align-self: center;
  font-weight: 500;
}
::ng-deep .action-space{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
::ng-deep .btn.btn-send{
  background: #17a2b8;
  border: none;
  border-radius: 5px;
  color: #FFF
}
::ng-deep .btn.btn-cancel{
  background: #eee;
  border: none;
  border-radius: 5px;
}