<div class="iq-card">
  <div class="iq-card-header d-flex justify-content-between">
     <div class="iq-header-title">
        <h4 class="card-title">Formulaire de recherche</h4>
     </div>
  </div>
  <div class="iq-card-body">
        <div class="form-row">
           <div class="col">
            <input type="text" class="form-control" name="rpatientIdentifier" formControlName="rpatientIdentifier" placeholder="Saisir l'ID de la facture">

          </div>
           <div class="col">
            <input type="text" class="form-control" name="rfirstName" formControlName="rfirstName" placeholder="Saisir le patient">

           </div>

        </div>




        <br>
        <div class="form-row">
          <div class="col">
           Date de prestation du :<input type="date" class="form-control" formControlName='rdoB' name='rdoB'>
          </div>
          <div class="col">
           Au :<input type="date" class="form-control" formControlName='rTelephone1' name='rTelephone1'>
          </div>

       </div>
        <br>
       <div class="form-row">
        <div class="col">
          <div class="col">
            <select class="form-control">
              <option value="0"> Choisir le garant</option>
              <option value="1"> ASCOMA</option>
              <option value="2"> AXA assurance</option>

            </select>
         </div>
        </div>
        <div class="col">
         <!-- <input type="text" class="form-control"  placeholder="Saisir l'assurance"> -->
         <select class="form-control" formControlName='rassurance' name="rassurance">
          <option value="0">Choisir un epmloyeur</option>
          <option value="1">CBAO</option>
          <option value="2">NEST</option>
          <option value="3">Crédit mutuel</option>
         </select>
        </div>


     </div>
     <br>
     <div class="form-row">
      <button class="btn btn-primary btn-lg" >  Rechercher  </button> &nbsp;&nbsp;
      <button class="btn btn-secondary btn-lg">&nbsp;&nbsp;&nbsp;  Annuler &nbsp;&nbsp;&nbsp; </button>
     </div>

  </div>
</div>
