<div class="col-sm-12">
  <div class="iq-card">
     <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
              <h4 class="card-title">Historique des versements </h4>
          </div>
     </div>
      <div class="iq-card-body">
          <div id="table" class="table-editable">

            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                  <tr>
                      <th>ID vers.</th>
                      <th>Caisse</th>
                      <th>Date vers.</th>
                      <th>Montant</th>
                      <th>Mode trans.</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                    <td>VERS001</td>
                    <td>CAISSE A</td>
                    <td>12/01/2019</td>
                    <td>24 100</td>
                    <td>Orange money,Espèces</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                           Action
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" routerLink="/detailversement">Voir</a>
                          <a class="dropdown-item" >Imprimer</a>


                        </div>
                      </div>
                    </td>
                 </tr>
                 <tr>
                  <td>VERS002</td>
                  <td>CAISSE A</td>
                  <td>13/01/2019</td>
                  <td>14 100</td>
                  <td>Lettre de garantie</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                         Action
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/detailversement">Voir</a>
                        <a class="dropdown-item" >Imprimer</a>


                      </div>
                    </div>
                  </td>
                 </tr>
                 <tr>
                  <td>VERS003</td>
                  <td>CAISSE B</td>
                  <td>03/02/2019</td>
                  <td>258 000</td>
                  <td>Especes</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                         Action
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/detailversement">Voir</a>
                        <a class="dropdown-item" >Imprimer</a>


                      </div>
                    </div>
                  </td>
                 </tr>
              </tbody>
          </table>



          </div>
      </div>
  </div>
</div>
