<div class="container-fluid p-0 m-0" *ngIf="afficherComponentNouvelleprestation || afficherComponentFacturer || afficherComponentPrestationAmbulatoire">
    <div class="text-center">
      <button (click)="clicRetour()" class=" float-right btn bleu">Retour</button>
    </div>
</div>

<br><br>

<app-paiement-search *ngIf="afficherComponentSearch"></app-paiement-search>

<app-paiement-liste-prestation
  *ngIf="afficherComponentListePrestation"
  (SelectedPrestationAmbulatoire)="seletectedPrestationAmbulatoire($event)"
  (ClickBoutonNouvellePrestation)="nouvellePrestationrq($event)" ></app-paiement-liste-prestation>

<app-nouvelle-prestation
  *ngIf="afficherComponentNouvelleprestation"
  (facturationEvent)="afficheComponentFacturer($event)"></app-nouvelle-prestation>

<app-prestation-ambulatoire
  *ngIf="afficherComponentPrestationAmbulatoire"
  [selectedPrestationIndex]="selectedPrestAmbuIndex"
  (ajoutActeEvent)="ajoutActe($event)" ></app-prestation-ambulatoire>

<app-facturer
  *ngIf="afficherComponentFacturer"
  [selectedPrestationIndex]="selectedPrestFactureIndex"></app-facturer>

