<div class="col-sm-12">
  <div class="iq-card">
     <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
              <h4 class="card-title">Liste des relevés </h4>
          </div>
     </div>
      <div class="iq-card-body">
          <div id="table" class="table-editable">

              <table class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Début</th>
                          <th>Fin</th>
                          <th>Garant</th>
                          <th>Employeur</th>
                          <th>Crée le</th>
                          <th>Montant facturé</th>
                          <th>Montant payé</th>
                          <th>Statut paiment</th>
                          <th>Obs</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                     <tr>

                        <td>RLV001</td>
                        <td>28/11/2019</td>
                        <td>28/11/2020</td>
                        <td>ASCOMA</td>
                        <td>PATISEN</td>
                        <td>28/11/2019</td>
                        <td>122.100 FCFA</td>
                        <td>21.200 FCFA</td>
                        <td>Partiel</td>
                        <td></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                               Action
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/statementlist" >Voir</a>
                              <a class="dropdown-item" href="#" data-toggle="modal" >Imprimer</a>
                            </div>
                          </div>
                        </td>
                     </tr>
                     <tr>
                      <td>RLV0025</td>
                        <td>28/11/2019</td>
                        <td>28/11/2020</td>
                        <td>WILLIS Tower Watson</td>
                        <td>SEDIMA</td>
                        <td>28/11/2019</td>
                        <td>122.100 FCFA</td>
                        <td></td>
                        <td>Non payé</td>
                        <td></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                               Action
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/statementlist" >Voir</a>
                              <a class="dropdown-item" href="#" data-toggle="modal" >Imprimer</a>
                            </div>
                          </div>
                        </td>
                   </tr>
                   <tr>
                    <td>RLV0035</td>
                        <td>28/11/2019</td>
                        <td>28/11/2020</td>
                        <td>AXA Assurance</td>
                        <td>PATISEN</td>
                        <td>28/11/2019</td>
                        <td>122.100 FCFA</td>
                        <td></td>
                        <td>Non payé</td>
                        <td></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                               Action
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/statementlist">Voir</a>
                              <a class="dropdown-item" data-toggle="modal" >Imprimer</a>
                            </div>
                          </div>
                        </td>
                 </tr>
                  </tbody>
              </table>
              <br>


          </div>
      </div>
  </div>
</div>
<div class="modal fade validation-facture-hostpitalisation" tabindex="-1" role="dialog"  aria-hidden="true">
  <!-- <form [formGroup]="addForm" (ngSubmit)="onSubmit()"> -->
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Liste des rélevés envoyés</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Patient</th>
                      <th>Garant</th>
                      <th>Employeur</th>
                      <th>Prestation</th>
                      <th>Montant facturé</th>
                      <th>Statut facture</th>
                      <th>Montant payé</th>
                      <th>Statut paiment</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                   <input type="checkbox" id="001" name="selected1">
                    <td>FAC001</td>
                    <td>28/11/2019</td>
                    <td>Fatou Ndiaye</td>
                    <td>SFD</td>
                    <td>PATISEN</td>
                    <td>Analyses</td>
                    <td>14 100</td>
                    <td>Non facturé</td>
                    <td></td>
                    <td>Non payé</td>
                    <td></td>
                 </tr>
                 <tr>
                  <td><input type="checkbox" id="002" name="selected2"></td>
                  <td>FAC0012</td>
                  <td>08/01/2020</td>
                  <td>Matar DIOP</td>
                  <td>ASCOMA</td>
                  <td></td>
                  <td>Consultation</td>
                  <td>4100</td>
                  <td>Non facturé</td>
                  <td></td>
                  <td>Non payé</td>
                  <td></td>
               </tr>
               <tr>
                <td><input type="checkbox" id="003" name="selected3"></td>
                <td>FAC0022</td>
                <td>08/01/2020</td>
                <td>Rokhaya Cissé</td>
                <td>ASCOMA</td>
                <td></td>
                <td>Hospitalisation</td>
                <td>4100</td>
                <td>Non facturé</td>
                <td></td>
                <td>Non payé</td>
                <td></td>
             </tr>
              </tbody>
          </table>



          </div>
          <div class="modal-footer">
             <button  class="btn btn-secondary" data-dismiss="modal">Non</button>
             <button  class="btn btn-primary">Oui</button>
          </div>
       </div>
    </div>
  <!-- </form> -->
 </div>
